<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png"
          href="../../resources/static/img/icons/favicon.ico"
          th:href="@{/resources/static/img/icons/favicon.ico}">
    <link rel="stylesheet"
          href="../../resources/static/css/fontawesome.min.css"
          th:href="@{/resources/static/css/font-awesome.min.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">

    <title>Car</title>
</head>

<body>

<header>
    <nav class="pl-2 navbar navbar-expand-sm navbar-dark bg-dark text-light  p-0">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="/" class="navbar-brand"><img src="../../resources/static/img/logo.png"
                                              th:src="@{/resources/static/img/logo.png}"
                                              height="64" width="64" alt="Autobaza"></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <a class="nav-item nav-link active"
                   href="cars.html"
                   th:href="@{/cars/all}">Cars</a>
                <a class="nav-item nav-link"
                   href="trips.html"
                   th:href="@{/trips}">Trips</a>
            </ul>
        </div>
    </nav>
    <nav id="main-header" class="py-1 navbar navbar-expand-sm navbar-light bg-light text-dark">
         <span class="navbar-brand text-uppercase mr-auto"
               th:text="${isNew} ? 'New car' : 'Edit car'">Edit car</span>
        <ul class="navbar-nav float-right">
            <li class="nav-item">
                <a href="cars.html"
                   th:href="@{/cars/all}"
                   class="btn btn-secondary"
                   title="Back"
                   data-toggle="tooltip"
                   data-placement="bottom">Back</a>
            </li>
            <li class="nav-item">
                <a href="cars.html"
                   th:href="@{/cars/all}"
                   th:onclick="@{document.forms['carForm'].submit(); return false;}"
                   class="btn btn-primary"
                   title="Save car"
                   data-toggle="tooltip"
                   data-placement="bottom">Save</a>
            </li>
        </ul>
    </nav>
</header>

<section id="car">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form id="carForm"
                              th:object="${car}"
                              action="cars.html"
                              th:action="@{${#httpServletRequest.servletPath}}"
                              th:method="@{post}">

                            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                                <p>Please fix errors below:</p>
                            </div>

                            <input id="field_carId"
                                   type="hidden"
                                   th:field="*{carId}"/>

                            <div class="form-group">
                                <label class="form-control-label"
                                       for="field_model">Model</label>
                                <input class="form-control "
                                       th:class="${#fields.hasErrors('carModel')} ? 'form-control is-invalid' : 'form-control'"
                                       id="field_model"
                                       type="text" value="MAZ"
                                       th:field="*{carModel}"/>
                                <div th:if="${#fields.hasErrors('carModel')}"
                                     class="invalid-feedback"
                                     th:errors="*{carModel}">[errors]</div>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label"
                                       for="field_number">Number</label>
                                <input class="form-control"
                                       th:class="${#fields.hasErrors('carNumber')} ? 'form-control is-invalid' : 'form-control'"
                                       id="field_number"
                                       type="text" value="AA-1 22-33"
                                       th:field="*{carNumber}"/>
                                <div th:if="${#fields.hasErrors('carNumber')}"
                                     class="invalid-feedback"
                                     th:errors="*{carNumber}">[errors]</div>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label"
                                       for="field_load_capacity">Load Capacity</label>
                                <input class="form-control"
                                       th:class="${#fields.hasErrors('loadCapacity')} ? 'form-control is-invalid' : 'form-control'"
                                       id="field_load_capacity"
                                       type="text" value="10"
                                       th:field="*{loadCapacity}"/>
                                <div th:if="${#fields.hasErrors('loadCapacity')}"
                                     class="invalid-feedback"
                                     th:errors="*{loadCapacity}">[errors]</div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label"
                                       for="field_characteristics">Characteristics</label>
                                <input class="form-control"
                                        th:class="${#fields.hasErrors('carCharacteristics')} ? 'form-control is-invalid' : 'form-control'"
                                        id="field_characteristics"
                                        type="text" value="реф"
                                        th:field="*{carCharacteristics}"/>
                                <div th:if="${#fields.hasErrors('carCharacteristics')}"
                                     class="invalid-feedback"
                                     th:errors="*{loadCapacity}">[errors]</div>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label"
                                       for="field_driver">Driver</label>
                                <input class="form-control"
                                       th:class="${#fields.hasErrors('carDriver')} ? 'form-control is-invalid' : 'form-control'"
                                       id="field_driver"
                                       type="text" value="Иванов И.И."
                                       th:field="*{carDriver}"/>
                                <div th:if="${#fields.hasErrors('carDriver')}"
                                     class="invalid-feedback"
                                     th:errors="*{carDriver}">[errors]</div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <hr/>
    <p class="text-center">&copy; 2019</p>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../../resources/static/js/jquery-3.2.1.min.js"
        th:src="@{/resources/static/js/jquery-3.2.1.min.js}"></script>
<script src="../../resources/static/js/popper.min.js"
        th:src="@{/resources/static/js/popper.min.js}"></script>
<script src="../../resources/static/js/bootstrap.min.js"
        th:src="@{/resources/static/js/bootstrap.min.js}"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>